/* :root{
    --Mobile: rgb(90, 139, 172);
    --Tablet: rgb(82, 161, 79);
    --Desktop: rgb(161, 89, 79); 
} */

.wrapper{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 5em 20em 14em 2em);
    grid-template-areas:
    "header"
    "main"
    "article"
    "footer";
    grid-gap: .5em;
}

header{
    grid-area: header;
    background: rgb(90, 139, 172);
}

main{
    grid-area: main;
    background: rgb(90, 139, 172);
}

article{
    grid-area: article;
    background: rgb(90, 139, 172);
}

footer{
    grid-area: footer;
    background: rgb(90, 139, 172);
}

nav{
    display: none;
}

@media screen and (min-width: 581px){
    .wrapper{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 5em 35em 3em;
        grid-template-areas:
        "header header"
        "main article"
        "footer footer";
        grid-gap: .5em;
       
    }

    header{
        grid-area: header;
        background: rgb(65, 150, 131);
    }
    
    main{
        grid-area: main;
        background: rgb(65, 150, 131);
    }
    
    article{
        grid-area: article;
        background: rgb(65, 150, 131);
    }
    
    footer{
        grid-area: footer;
        background: rgb(65, 150, 131);
    }
    
    nav{
        display: none;
    }
}

@media screen and (min-width: 960px){
    .wrapper{
        display: grid;
        grid-template-columns: 20% 1fr 1fr;
        grid-template-rows: 5em 35em 3em;
        grid-template-areas:
        "nav header header"
        "nav main article"
        "nav footer footer";
        grid-gap: .5em;
    }

    header{
        grid-area: header;
        background: rgb(141, 60, 60);
    }
    
    main{
        grid-area: main;
        background: rgb(141, 60, 60);
    }
    
    article{
        grid-area: article;
        background: rgb(141, 60, 60);
    }
    
    footer{
        grid-area: footer;
        background: rgb(141, 60, 60);
    }
    
    nav{
        grid-area: nav;
        background: rgb(141, 60, 60);
        display: inline-block;
    }
}