.container{
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(9, 1fr);
    grid-template-areas: 
    "sec1"
    "sec2"
    "sec3"
    "sec4"
    "sec5"
    "sec6"
    "sec7"
    "sec8"
    "sec9"
}

